/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.organic_widgets-section {
  background-size: cover;
  background-position: center center;
  padding: 20px;
  margin: 0;
 }

.organic-widgets-post-holder article {
  background: #ffffff;
  margin: 10px;
}

.organic-widgets-post-holder .organic-widgets-content {
  padding: 20px;
}

img.hide-img,
.hide-img img {
	line-height: 0;
	margin-left: -999em;
	padding: 0px;
}

.organic-widgets-testimonial-slide-content {
  padding: 20px;
  text-align: center;
}
.organic-widgets-testimonial-avatar {
  position: relative;
  margin: auto;
  text-align: center;
  height: auto;
  width: 20%;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}
.organic-widgets-aspect-ratio-spacer {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.organic-widgets-testimonial-slide-content .excerpt {
  margin-top: 20px;
}
.organic-widgets-testimonial-slide-content h4 {
  padding-top: 0;
}

/*
* FlexSlider
*/

.organic-widgets-flexslider {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.organic-widgets-flexslider .slides {
	position: relative;
	overflow: hidden;
	zoom: 1;
}
.organic-widgets-flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
  background-position: center center;
  background-size: cover;
}
.organic-widgets-flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {
	display: none;
}

/* Caption style */
.flex-caption {
	background: none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
}
.flex-caption {
	background: rgba(0,0,0,.3);
	color: #FFFFFF;
	width: 96%;
	padding: 2%;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}

/* Direction Nav */
.flex-direction-nav {
	height: 0;
}
.flex-direction-nav li a {
	display: block;
	background-color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	height: 32px;
	width: 32px;
	text-decoration: none;
	margin-top: -16px;
	opacity: 1;
	position: absolute;
	top: 50%;
	cursor: pointer;
	overflow: visible;
	z-index: 9;
	border-radius: 2px;
}
.flex-direction-nav .flex-next {
	right: 24px;
	text-align: center;
}
.flex-direction-nav .flex-prev {
	left: 24px;
	text-align: center;
}
.flex-direction-nav a.flex-prev,
.flex-direction-nav a.flex-next {
	color: #999999;
	color: rgba(0, 0, 0, .4) !important;
}
.flex-direction-nav a.flex-prev:hover,
.flex-direction-nav a.flex-next:hover {
	color: #000000 !important;
	text-decoration: none;
}
.flex-direction-nav a.flex-disabled {
	opacity: 0;
}

/************************************************
*	Desktop Grid																	*
************************************************/

.organic-widgets-flex-row {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.organic-widgets-row {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.organic-widgets-row .organic-widgets-row {
	min-width: 0;
}
.organic-widgets-column, .organic-widgets-columns {
	float: left;
	min-height: 1px;
	position: relative;
	box-sizing: border-box;
}
[class*="organic-widgets-column"] + [class*="organic-widgets-column"]:last-child {
	float: right;
}

.organic-widgets-single 	{ width: 100%; }
.organic-widgets-half 		{ width: 49.9%; }
.organic-widgets-third 		{ width: 33.3%; }
.organic-widgets-fourth 	{ width: 25%; }
.organic-widgets-fifth 		{ width: 20%; }

.organic-widgets-half,
.organic-widgets-third,
.organic-widgets-fourth,
.organic-widgets-fifth 	{ float: left; }

.organic-widgets-row .organic-widgets-one 		{ width: 6.25%; }
.organic-widgets-row .organic-widgets-two 		{ width: 12.5%; }
.organic-widgets-row .organic-widgets-three 	{ width: 18.75%; }
.organic-widgets-row .organic-widgets-four 		{ width: 25%; }
.organic-widgets-row .organic-widgets-five 		{ width: 31.25%; }
.organic-widgets-row .organic-widgets-six 		{ width: 37.5%; }
.organic-widgets-row .organic-widgets-seven 	{ width: 43.75%; }
.organic-widgets-row .organic-widgets-eight 	{ width: 50%; }
.organic-widgets-row .organic-widgets-nine 		{ width: 56.25%; }
.organic-widgets-row .organic-widgets-ten 		{ width: 62.5%; }
.organic-widgets-row .organic-widgets-eleven 	{ width: 68.75%; }
.organic-widgets-row .organic-widgets-twelve 	{ width: 75%; }
.organic-widgets-row .organic-widgets-thirteen 	{ width: 81.25%; }
.organic-widgets-row .organic-widgets-fourteen 	{ width: 87.5%; }
.organic-widgets-row .organic-widgets-fifteen 	{ width: 93.75%; }
.organic-widgets-row .organic-widgets-sixteen 	{ width: 100%; }

.organic-widgets-row .organic-widgets-centered { float: none; margin: 0 auto; width: 100%; }

/* Nicolas Gallagher's micro clearfix */
.organic-widgets-row:before, .organic-widgets-row:after, .organic-widgets-clearfix:before, .organic-widgets-clearfix:after { content:""; display:table; }
.organic-widgets-row:after, .organic-widgets-clearfix:after { clear: both; }
.organic-widgets-row, .organic-widgets-clearfix { zoom: 1; }
