/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/************************************************
*	Global Styles
************************************************/

.organic-widgets-hide-img img {
  line-height: 0;
  margin-left: -999em;
  padding: 0px;
}
.organic-widgets-content {
  position: relative;
  max-width: 1240px;
	margin: 0px auto;
  z-index: 4;
}
.organic-widgets-clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.organic-widgets-featured-img {
  display: block;
  line-height: 0;
  overflow: hidden;
}
.organic-widget .button {
  margin: 12px auto;
}
.organic-widgets-content.organic-widgets-none {
  margin-top: 48px;
  margin-bottom: 48px;
}

/************************************************
*	Core Widget Styles
************************************************/

.organic-widget_widget_media_image {
  text-align: center;
  line-height: 0;
  margin: 0px auto;
}
.organic-widget_widget_text,
.organic-widget_widget_media_video,
.organic-widget_widget_media_audio,
.organic-widget_widget_search {
  max-width: 1240px;
	margin: 0px auto;
  padding: 72px 36px;
}
.organic-widget_widget_media_video {
  text-align: center;
}
.organic-widget_widget_media_video .wp-video {
  background-color: #ffffff;
  max-width: 720px;
	margin: 24px auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
}

/************************************************
*	Organic Widget Styles
************************************************/

.organic-widget {
  position: relative;
}
.organic-widgets-section {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding: 72px 36px;
  margin: 0;
}
.organic-widgets-section .organic-widgets-section {
  padding: 12px;
}
.organic-widgets-section::after {
  display: table;
  content: '';
  clear: both;
}
.organic-widgets-text {
  padding-top: 0px;
  padding-bottom: 24px;
}
.organic-widgets-content .organic-widgets-post-holder {
  width: calc(100% + 32px);
  margin-left: -18px;
}
.organic-widgets-post-holder .organic-widgets-masonry-wrapper {
  min-width: 25%;
}
.organic-widgets-post-holder article {
	background-color: #ffffff;
	margin: 12px;
}
.organic-widgets-post-holder .organic-widgets-third article,
.organic-widgets-post-holder .organic-widgets-third article,
.organic-widgets-post-holder .organic-widgets-fourth article,
.organic-widgets-post-holder .organic-widgets-fifth article,
.organic-widgets-post-holder .organic-widgets-sixth article {
  font-size: 90%;
}
.organic-widgets-card {
  position: relative;
  background-color: #ffffff;
	padding: 24px;
}
.organic-widgets-card p {
  padding: 6px 0px;
}
.organic-widgets-post-meta {
  font-size: 75%;
  margin: 12px 0px;
  padding-left: 12px;
  border-left: 2px solid rgba(0, 0, 0, 0.12);
}
.organic-widgets-post-meta p.organic-widgets-post-date,
.organic-widgets-post-meta p.organic-widgets-post-author {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.8;
  margin: 0px;
  padding: 0px;
}
.organic-widgets-aspect-ratio-spacer {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.organic-widgets-button-holder {
  display: block;
  text-align: center;
  margin-top: 12px;
}
.organic-widget .link-more {
  padding: 0px;
  margin-bottom: 0px;
}
.organic-widget .link-more br {
  display: none;
}

/************************************************
*	Hero Section Widget
************************************************/

.organic-widgets-hero-section {
  display: flex;
  height: 100vh;
  min-height: 480px;
}
.organic-widgets-section.organic-widgets-hero-section {
  background-attachment: fixed;
  padding-top: 0px;
  padding-bottom: 0px;
}
.organic-widgets-hero-information {
  max-width: 800px;
  text-align: center;
  margin: 0px auto;
}
.organic-widgets-hero-information .organic-widgets-title {
  font-size: 3.6em;
}
.organic-widgets-hero-information .organic-widgets-text {
  font-size: 120%;
  padding-bottom: 0px;
}

/************************************************
*	Blog Posts Section Widget
************************************************/

.organic-widgets-blog-posts-section .organic-widgets-post-meta {
  float: left;
  margin: 8px 18px 8px 0px;
}
.organic-widgets-blog-posts-section .organic-widgets-text {
  margin-bottom: 0px;
}
.organic-widgets-blog-posts-section .organic-widgets-title,
.organic-widgets-blog-posts-section .organic-widgets-text {
  text-align: center;
}
.organic-widgets-blog-posts-section .organic-widgets-featured-img {
  background-size: cover;
  background-position: center;
}
.organic-widgets-blog-posts-section .organic-widgets-single article {
  display: flex;
  align-items: stretch;
}
.organic-widgets-blog-posts-section .organic-widgets-single .organic-widgets-featured-img {
  min-width: 40%;
}
.organic-widgets-blog-posts-section .organic-widgets-single .organic-widgets-card {
  padding: 36px;
}

/************************************************
*	Team Section Widget
************************************************/

.organic-widgets-team-section .organic-widgets-title,
.organic-widgets-team-section .organic-widgets-text,
.organic-widgets-team-section .organic-widgets-member-title {
  text-align: center;
}

/************************************************
*	Portfolio Section Widget
************************************************/

.organic-widgets-portfolio-section .organic-widgets-post-holder article {
  margin: 2px;
}
.organic-widgets-portfolio-section .organic-widgets-title,
.organic-widgets-portfolio-section .organic-widgets-text {
  text-align: center;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img {
  display: block;
	position: relative;
	max-width: 100%;
	text-align: center;
	line-height: 0;
	margin: 0px auto 0px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img .organic-widgets-featured-img {
  transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img:hover .organic-widgets-featured-img {
  transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-backface-visibility: hidden;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img .organic-widgets-img-text {
  display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
  margin: 0px;
	padding: 24px;
	opacity: 0;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	z-index: 8;
  box-sizing: border-box;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img .organic-widgets-img-text:hover {
	opacity: 1;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img h6 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  align-self: center;
	margin: 0px;
	padding: 12px 18px;
}
.organic-widgets-portfolio-section .organic-widgets-portfolio-img h6 a {
  position: relative;
  color: #ffffff !important;
	font-size: 1.1em;
  z-index: 9;
}

/************************************************
*	Content Slideshow Widget
************************************************/

.organic-widgets-content-slideshow-section {
  padding: 0;
}
.organic-widgets-content-slideshow-section .slides li {
  min-height: 480px;
}
.organic-widgets-content-slideshow-slide-content {
  display: inline-block;
  background: #ffffff;
  max-width: 520px;
  margin: 72px 36px;
  padding: 36px;
}

/************************************************
*	Testimonials Slideshow Widget
************************************************/

.organic-widgets-testimonial-section .organic-widgets-title,
.organic-widgets-testimonial-section .organic-widgets-text {
  text-align: center;
}
.organic-widgets-testimonial-section .flex-viewport {
  padding-top: 12px;
  padding-bottom: 32px;
}
.organic-widgets-testimonial-avatar {
	position: relative;
	margin: -60px auto 0px;
	text-align: center;
	height: auto;
	width: 40%;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
  border: 12px solid #ffffff;
}
.organic-widgets-testimonial-slide-content {
  margin-top: 60px;
}
.organic-widgets-testimonial-slide-content .organic-widgets-excerpt {
  font-size: 90%;
}
.organic-widgets-testimonial-slide-content h4 {
	padding-top: 0;
}
.organic-widgets-testimonial-slide-content .organic-widgets-card::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #ffffff;
}
.organic-widgets-testimonial-slide-content .organic-widgets-testimonial-author {
  font-size: 90%;
  font-style: italic;
  text-align: center;
  padding-top: 18px;
}

/************************************************
*	Feature List Widget
************************************************/

.organic-widgets-feature-list-section .organic-widgets-title,
.organic-widgets-feature-list-section .organic-widgets-text {
  text-align: center;
}
.organic-widgets-feature-list-item {
  text-align: center;
  box-sizing: border-box;
  min-width: 16.66%;
}
.organic-widgets-feature-list-item .organic-widgets-information {
  margin: 6px;
  padding: 24px 12px;
  box-sizing: border-box;
}
.organic-widgets-feature-list-item-icon {
  text-align: center;
}
.organic-widgets-feature-list-item-icon i {
  font-size: 32px;
  margin: auto;
}
.organic-widgets-feature-list-item-text h4 {
  font-weight: normal;
  margin-top: 18px;
}
.organic-widgets-feature-list-item-text p {
  font-size: 90%;
  padding: 0px;
}
.organic-widgets-feature-list-items-wrapper {
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}

/************************************************
*	Profile Widget
************************************************/

.organic-widgets-section-masonry-buffer {
  margin: 0px auto;
  height: auto;
  width: 100%;
  max-width: 1240px;
  position: relative;
}
.organic-widgets-profile {
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: auto;
}
.organic-widgets-profile-img {
  display: block;
  line-height: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
.organic-widgets-profile-img img {
  width: 100%;
  margin: auto;
}
.organic-profile-content {
  margin: auto;
  text-align: center;
  max-width: 100%;
}
.organic-widgets-profile-title {
  margin-bottom: 6px;
}
.organic-widgets-profile-sub-title {
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.organic-widgets-profile-excerpt {
  margin-top: 1em;
}

/************************************************
*	Text Color Conditionals
************************************************/

.organic-widget .ocw-bg-dark h1, .organic-widgets-section.ocw-bg-dark h1,
.organic-widget .ocw-bg-dark h2, .organic-widgets-section.ocw-bg-dark h2,
.organic-widget .ocw-bg-dark h3, .organic-widgets-section.ocw-bg-dark h3,
.organic-widget .ocw-bg-dark h4, .organic-widgets-section.ocw-bg-dark h4,
.organic-widget .ocw-bg-dark h5, .organic-widgets-section.ocw-bg-dark h5,
.organic-widget .ocw-bg-dark h6, .organic-widgets-section.ocw-bg-dark h6{
  color: #ffffff;
}
.organic-widget .ocw-bg-dark p, .organic-widgets-section.ocw-bg-dark p,
.organic-widget .ocw-bg-dark p.wp-caption-text, .organic-widgets-section.ocw-bg-dark p.wp-caption-text,
.organic-widget .ocw-bg-dark a, .organic-widgets-section.ocw-bg-dark a,
.organic-widget .ocw-bg-dark span, .organic-widgets-section.ocw-bg-dark span,
.organic-widget .ocw-bg-dark div, .organic-widgets-section.ocw-bg-dark div,
.organic-widget .ocw-bg-dark blockquote, .organic-widgets-section.ocw-bg-dark blockquote {
  color: rgba(255, 255, 255, 0.7);
}
.organic-widget .ocw-bg-light.ocw-bg-img h1,
.organic-widget .ocw-bg-light.ocw-bg-img h2,
.organic-widget .ocw-bg-light.ocw-bg-img h3,
.organic-widget .ocw-bg-light.ocw-bg-img h4,
.organic-widget .ocw-bg-light.ocw-bg-img h5,
.organic-widget .ocw-bg-light.ocw-bg-img h6,
.organic-widget .ocw-bg-light.ocw-bg-img p,
.organic-widget .ocw-bg-light.ocw-bg-img a,
.organic-widget .ocw-bg-light.ocw-bg-img span,
.organic-widget .ocw-bg-light.ocw-bg-img div,
.organic-widget .ocw-bg-light.ocw-bg-img blockquote {
  color: #000000;
}
.organic-widget .ocw-bg-dark .organic-widgets-card h1, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h1,
.organic-widget .ocw-bg-dark .organic-widgets-card h2, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h2,
.organic-widget .ocw-bg-dark .organic-widgets-card h3, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h3,
.organic-widget .ocw-bg-dark .organic-widgets-card h4, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h4,
.organic-widget .ocw-bg-dark .organic-widgets-card h5, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h5,
.organic-widget .ocw-bg-dark .organic-widgets-card h6, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h6,
.organic-widget .ocw-bg-dark .organic-widgets-card h1 a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h1 a,
.organic-widget .ocw-bg-dark .organic-widgets-card h2 a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h2 a,
.organic-widget .ocw-bg-dark .organic-widgets-card h3 a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h3 a,
.organic-widget .ocw-bg-dark .organic-widgets-card h4 a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h4 a,
.organic-widget .ocw-bg-dark .organic-widgets-card h5 a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h5 a,
.organic-widget .ocw-bg-dark .organic-widgets-card h6 a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card h6 a {
  color: rgba(0, 0, 0, 0.9);
  text-shadow: none !important;
}
.organic-widget .ocw-bg-dark .organic-widgets-card p, .organic-widgets-section.ocw-bg-dark .organic-widgets-card p,
.organic-widget .ocw-bg-dark .organic-widgets-card a, .organic-widgets-section.ocw-bg-dark .organic-widgets-card a,
.organic-widget .ocw-bg-dark .organic-widgets-card span, .organic-widgets-section.ocw-bg-dark .organic-widgets-card span,
.organic-widget .ocw-bg-dark .organic-widgets-card div, .organic-widgets-section.ocw-bg-dark .organic-widgets-card div,
.organic-widget .ocw-bg-dark .organic-widgets-card blockquote, .organic-widgets-section.ocw-bg-dark .organic-widgets-card blockquote {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none !important;
}
.organic-widget article .organic-widgets-card a {
  text-shadow: none !important;
}
.organic-widget .ocw-bg-img .organic-widgets-flexslider .flex-control-nav li a,
.organic-widget .ocw-bg-dark .organic-widgets-flexslider .flex-control-nav li a {
  border-color: rgba(255, 255, 255, 0.6);
}
.ocw-bg-img .organic-widgets-flexslider .flex-control-nav li a:hover,
.ocw-bg-img .organic-widgets-flexslider .flex-control-nav li a.flex-active,
.ocw-bg-dark .organic-widgets-flexslider .flex-control-nav li a:hover,
.ocw-bg-dark .organic-widgets-flexslider .flex-control-nav li a.flex-active {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 0);
}

/************************************************
*	Social Icons
************************************************/

.organic-widget .organic-widgets-social-icons {
	list-style: none;
	margin: 24px 0px 0px 0px;
	padding: 0px;
}
.organic-widget .organic-widgets-social-icons li {
	display: inline-block;
	background: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.organic-widget .organic-widgets-social-icons li a {
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 36px;
	min-width: 36px;
	margin: 2px;
	padding: 0px;
	border-radius: 50%;
  height: 36px;
  color: #999999;
  background-color: rgba(0, 0, 0, 0.04);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.organic-widget .organic-widgets-social-icons li a:hover {
  color: #666666;
  border-color: #666666;
  background-color: #ffffff;
}
.organic-widget .organic-widgets-social-icons li a:hover {
	transition: all .25s;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
}
.organic-widget .organic-widgets-social-icons li a::before {
	font-family: 'FontAwesome';
	font-size: 16px;
	font-weight: normal;
	content: '\f0c1';
}
.organic-widget .organic-widgets-social-icons li a span {
	display: none;
}
.organic-widget .organic-widgets-social-icons li a[href*="facebook.com"]::before		{ content: '\f09a'; }
.organic-widget .organic-widgets-social-icons li a[href*="twitter.com"]::before 		{ content: '\f099'; }
.organic-widget .organic-widgets-social-icons li a[href*="plus.google.com"]::before 	{ content: '\f0d5'; }
.organic-widget .organic-widgets-social-icons li a[href*="google.com/maps"]::before 	{ content: '\f041'; }
.organic-widget .organic-widgets-social-icons li a[href*="linkedin.com"]::before	 	{ content: '\f0e1'; }
.organic-widget .organic-widgets-social-icons li a[href*="github.com"]::before		 	{ content: '\f113'; }
.organic-widget .organic-widgets-social-icons li a[href*="dribbble.com"]::before		{ content: '\f17d'; }
.organic-widget .organic-widgets-social-icons li a[href*="foursquare.com"]::before		{ content: '\f180'; }
.organic-widget .organic-widgets-social-icons li a[href*="pinterest.com"]::before		{ content: '\f231'; }
.organic-widget .organic-widgets-social-icons li a[href*="wordpress.com"]::before		{ content: '\f19a'; }
.organic-widget .organic-widgets-social-icons li a[href*="youtube.com"]::before			{ content: '\f16a'; }
.organic-widget .organic-widgets-social-icons li a[href*="vine.co"]::before				{ content: '\f1ca'; }
.organic-widget .organic-widgets-social-icons li a[href*="instagram.com"]::before		{ content: '\f16d'; }
.organic-widget .organic-widgets-social-icons li a[href*="stackexchange.com"]::before	{ content: '\f18d'; }
.organic-widget .organic-widgets-social-icons li a[href*="mailto:"]::before				{ content: '\f0e0'; }
.organic-widget .organic-widgets-social-icons li a[href$="/feed/"]::before				{ content: '\f09e'; }
.organic-widget .organic-widgets-social-icons li a[href$="/cart/"]::before				{ content: '\f07a'; }

.organic-widget .organic-widgets-social-icons li a[href*="twitter.com"]:hover	{
  color: #ffffff;
	background: #00aced;
}
.organic-widget .organic-widgets-social-icons li a[href*="facebook.com"]:hover {
  color: #ffffff;
	background: #3b5998;
}
.organic-widget .organic-widgets-social-icons li a[href*="plus.google.com"]:hover	{
  color: #ffffff;
	background: #dd4b39;
}
.organic-widget .organic-widgets-social-icons li a[href*="linkedin.com"]:hover	{
  color: #ffffff;
	background: #007bb6;
}
.organic-widget .organic-widgets-social-icons li a[href*="pinterest.com"]:hover	{
  color: #ffffff;
	background: #cb2027;
}
.organic-widget .organic-widgets-social-icons li a[href*="youtube.com"]:hover	{
  color: #ffffff;
	background: #bb0000;
}
.organic-widget .organic-widgets-social-icons li a[href*="instagram.com"]:hover	{
  color: #ffffff;
	background: #517fa4;
}
.organic-widget .organic-widgets-social-icons li a[href*="dribbble.com"]:hover {
  color: #ffffff;
	background: #ea4c89;
}
.organic-widget .organic-widgets-social-icons li a[href*="foursquare.com"]:hover {
  color: #ffffff;
	background: #0072b1;
}

/************************************************
*	Flexslider
************************************************/

.organic-widgets-flexslider {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.organic-widgets-flexslider .preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.08);
	border-left: 3px solid rgba(0, 0, 0, 0.08);
	border-right: 3px solid rgba(0, 0, 0, 0.24);
	border-top: 3px solid rgba(0, 0, 0, 0.24);
	border-radius: 100%;
	height: 32px;
	width: 32px;
	-webkit-animation: spin .6s infinite linear;
	-moz-animation: spin .6s infinite linear;
	-ms-animation: spin .6s infinite linear;
	-o-animation: spin .6s infinite linear;
	animation: spin .6s infinite linear;
	z-index: 999;
}
.organic-widgets-flexslider.loading {
	min-height: 480px;
}
.organic-widgets-flexslider .slides {
	position: relative;
	overflow: hidden;
	zoom: 1;
}
.organic-widgets-flexslider ul,
.organic-widgets-flexslider li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.organic-widgets-flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	background-position: center center;
	background-size: cover;
}
.organic-widgets-flexslider .slides img {
	width: 100%;
	display: block;
}
.organic-widgets-flexslider .flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.organic-widgets-flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.organic-widgets-flexslider html[xmlns] .slides {
	display: block;
}
.organic-widgets-flexslider * html .slides {
	height: 1%;
}

/* No JavaScript Fallback */
.organic-widgets-flexslider .no-js .slides > li:first-child {
	display: none;
}

/* Caption style */
.organic-widgets-flexslider .organic-widgets-flexslider .flex-caption {
	background: none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
}
.organic-widgets-flexslider .organic-widgets-flexslider .flex-caption {
	color: #FFFFFF;
	width: 96%;
	padding: 2%;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* Direction Nav */
.organic-widgets-flexslider .flex-direction-nav {
	position: absolute;
	right: 24px;
  bottom: 24px;
  height: auto;
}
.organic-widgets-flexslider .flex-direction-nav li a {
	display: block;
	background: #ffffff;
  position: relative;
	font-size: 18px;
	line-height: 32px;
	height: 32px;
	width: 32px;
	text-decoration: none;
	margin-top: 0px;
	opacity: 1;
	cursor: pointer;
	overflow: visible;
	z-index: 6;
	border: none;
  border-radius: 0px;
}
.organic-widgets-flexslider .flex-direction-nav li a:hover {
  border: none;
  text-decoration: none;
}
.organic-widgets-flexslider .flex-direction-nav li {
  float: left;
}
.organic-widgets-flexslider .flex-direction-nav .flex-next {
	right: auto;
	text-align: center;
}
.organic-widgets-flexslider .flex-direction-nav .flex-prev {
	left: auto;
	text-align: center;
}
.organic-widgets-flexslider .flex-direction-nav .flex-next i,
.organic-widgets-flexslider .flex-direction-nav .flex-prev i {
	color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
  position: relative;
  right: auto;
  left: auto;
  margin: 0px;
}
.organic-widgets-flexslider .flex-direction-nav a.flex-disabled {
	opacity: 0;
}

/* Control Nav */
.organic-widgets-flexslider .flex-control-nav {
	position: absolute;
	bottom: 0px;
  width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	z-index: 9;
}
.organic-widgets-flexslider .flex-control-nav li {
	display: inline-block;
	margin: 0px;
	padding: 4px !important;
	zoom: 1;
	*display: inline;
}
.organic-widgets-flexslider .flex-control-nav li:first-child {
	margin: 0;
}
.organic-widgets-flexslider .flex-control-nav li a {
	width: 8px;
	height: 8px;
	display: block;
	cursor: pointer;
	text-indent: -999em;
	border-radius: 8px;
	border: 2px solid rgba(0, 0, 0, 0.4);
}
.organic-widgets-flexslider .flex-control-nav li a:hover {
	background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0);
}
.organic-widgets-flexslider .flex-control-nav li a.flex-active {
  cursor: default;
	background-color: rgba(0, 0, 0, 0.6);
	border-color: rgba(0, 0, 0, 0);
}

/************************************************
*	Customizer
************************************************/

body.customize-posts-content {
  padding: 36px;
  box-sizing: border-box;
}
.organic-widget .customize-partial-edit-shortcut {
	left: 48px;
	top: 12px;
}
.organic-widgets-section-masonry-buffer .customize-partial-edit-shortcut {
  left: 30px;
  top: 0px;
}
.organic-widget .entry-content .customize-partial-edit-shortcut {
  left: auto;
  top: auto;
}
.organic-widgets-preview-highlighter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #0085BA;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 4;
}

/************************************************
*	Video Background
************************************************/
.organic-widgets-video-bg-section {
  position: relative;

}
.organic-widgets-video-bg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 3;
}
.organic-widgets-video-bg-container {
  position: relative
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.organic-widgets-video-bg-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
}
.organic-widgets-video-bg {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0 auto;
}
iframe.organic-widgets-video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.organic-widgets-video-bg-shade {
  background-color: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/************************************************
*	Desktop Grid
************************************************/

.organic-widgets-flex-row {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}
.organic-widgets-row {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.organic-widgets-row .organic-widgets-row {
	min-width: 0;
}
.organic-widgets-column, .organic-widgets-columns {
	float: left;
	min-height: 1px;
	position: relative;
	box-sizing: border-box;
}
[class*="organic-widgets-column"] + [class*="organic-widgets-column"]:last-child {
	float: right;
}

.organic-widgets-single 	{ width: 100%; }
.organic-widgets-half 		{ width: 50%; }
.organic-widgets-third 		{ width: 33.33%; }
.organic-widgets-fourth 	{ width: 25%; }
.organic-widgets-fifth 		{ width: 20%; }
.organic-widgets-sixth 		{ width: 16.66%; }

.organic-widgets-half,
.organic-widgets-third,
.organic-widgets-fourth,
.organic-widgets-fifth,
.organic-widgets-sixth 	{ float: left; }

.organic-widgets-row .organic-widgets-one 		{ width: 6.25%; }
.organic-widgets-row .organic-widgets-two 		{ width: 12.5%; }
.organic-widgets-row .organic-widgets-three 	{ width: 18.75%; }
.organic-widgets-row .organic-widgets-four 		{ width: 25%; }
.organic-widgets-row .organic-widgets-five 		{ width: 31.25%; }
.organic-widgets-row .organic-widgets-six 		{ width: 37.5%; }
.organic-widgets-row .organic-widgets-seven 	{ width: 43.75%; }
.organic-widgets-row .organic-widgets-eight 	{ width: 50%; }
.organic-widgets-row .organic-widgets-nine 		{ width: 56.25%; }
.organic-widgets-row .organic-widgets-ten 		{ width: 62.5%; }
.organic-widgets-row .organic-widgets-eleven 	{ width: 68.75%; }
.organic-widgets-row .organic-widgets-twelve 	{ width: 75%; }
.organic-widgets-row .organic-widgets-thirteen 	{ width: 81.25%; }
.organic-widgets-row .organic-widgets-fourteen 	{ width: 87.5%; }
.organic-widgets-row .organic-widgets-fifteen 	{ width: 93.75%; }
.organic-widgets-row .organic-widgets-sixteen 	{ width: 100%; }

.organic-widgets-row .organic-widgets-centered { float: none; margin: 0 auto; width: 100%; }

/* Nicolas Gallagher's micro clearfix */
.organic-widgets-row:before, .organic-widgets-row:after, .organic-widgets-clearfix:before, .organic-widgets-clearfix:after { content:""; display:table; }
.organic-widgets-row:after, .organic-widgets-clearfix:after { clear: both; }
.organic-widgets-row, .organic-widgets-clearfix { zoom: 1; }

/************************************************
*	Phone Grid
************************************************/

@media handheld, only screen and (max-width: 767px) {

  .organic-widgets-flex-row {
  	display: block;
  }
  .organic-widgets-row {
  	width: 100%;
  	min-width: 0;
  	margin-left: 0;
  	margin-right: 0;
  	overflow: visible !important;
  }
  .organic-widgets-row .single,
  .organic-widgets-row .half,
  .organic-widgets-row .third,
  .organic-widgets-row .fourth,
  .organic-widgets-row .fifth,
  .organic-widgets-row .sixth,
  .organic-widgets-single,
  .organic-widgets-half,
  .organic-widgets-third,
  .organic-widgets-fourth,
  .organic-widgets-fifth,
  .organic-widgets-sixth {
  	width: 100%;
  }
  .organic-widgets-row .organic-widgets-row .organic-widgets-column, .organic-widgets-row .organic-widgets-row .organic-widgets-columns {
  	padding: 0;
  }
  .organic-widgets-column, .organic-widgets-columns {
  	width: auto !important;
  	float: none;
  	margin-left: 0;
  	margin-right: 0;
  }
  .organic-widgets-column:last-child, .organic-widgets-columns:last-child {
  	margin-right: 0;
  	float: none;
  }
  [class*="organic-widgets-column"] + [class*="organic-widgets-column"]:last-child {
  	float: none;
  }
  [class*="organic-widgets-column"]:before, [class*="organic-widgets-column"]:after {
  	content:"";
  	display:table;
  }
  [class*="organic-widgets-column"]:after {
  	clear: both;
  }

  .organic-widgets-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .organic-widgets-hero-section {
    height: auto;
  }
  .organic-widgets-section.organic-widgets-hero-section {
    background-attachment: scroll;
  }
  .organic-widgets-hero-section .organic-widgets-content {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .organic-widgets-hero-information .organic-widgets-title {
    font-size: 2.6em;
  }

}

/************************************************
*	Content Aligner
************************************************/

.organic-widgets-aligner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.organic-widgets-aligner.organic-widgets-aligner-top-left, .organic-widgets-aligner.organic-widgets-aligner-middle-left, .organic-widgets-aligner.organic-widgets-aligner-bottom-left {
  justify-content: flex-start;
}
.organic-widgets-aligner.organic-widgets-aligner-top-center, .organic-widgets-aligner.organic-widgets-aligner-middle-center, .organic-widgets-aligner.organic-widgets-aligner-bottom-center {
  justify-content: center;
}
.organic-widgets-aligner.organic-widgets-aligner-top-right, .organic-widgets-aligner.organic-widgets-aligner-middle-right, .organic-widgets-aligner.organic-widgets-aligner-bottom-right {
  justify-content: flex-end;
}
.organic-widgets-aligner.organic-widgets-aligner-top-left, .organic-widgets-aligner.organic-widgets-aligner-top-center, .organic-widgets-aligner.organic-widgets-aligner-top-right {
  align-items: flex-start;
}
.organic-widgets-aligner.organic-widgets-aligner-middle-left, .organic-widgets-aligner.organic-widgets-aligner-middle-center, .organic-widgets-aligner.organic-widgets-aligner-middle-right {
  align-items: center;
}
.organic-widgets-aligner.organic-widgets-aligner-bottom-left, .organic-widgets-aligner.organic-widgets-aligner-bottom-center, .organic-widgets-aligner.organic-widgets-aligner-bottom-right {
  align-items: flex-end;
}
.organic-widgets-aligner .organic-widgets-content {
  margin: 0;
}
