/* Dropdown Button */
.organic-widget-dropdown-button {
    background-color: #0085ba;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.organic-widget-dropdown-button:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.organic-widgets-feature-list-select {
    position: relative;
    display: block;
    max-width:100%;
    margin-top: 1em;
}

/* Dropdown Content (Hidden by Default) */
.organic-widgets-feature-list-select-dropdown {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  z-index: 1;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

.organic-widgets-feature-select-item {
  position: relative;
  display:inline;
  float: left;
  height: auto;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0;
  width: 20%;
  height:auto;
  text-align:center;
}
.organic-widgets-feature-select-item-sizer {
    width: 100%;
    padding-bottom: 100%; /* 16:9 */
    position: relative;
    display: block;
}

/* Links inside the dropdown */
.organic-widgets-feature-select-item-content {
  display: inline;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  width: 100%;
  height: auto;
  color: #333;
  margin: auto;
  text-decoration: none;
  text-align: center;
}
.organic-widgets-feature-select-item-content i {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 20px;
}
.organic-widgets-feature-select-item-content p {
  font-size: 10px;
  line-height: 10px;
  margin: 6px auto 0;
}
.organic-widgets-feature-select-item:nth-child(5n){
  border-right: none;

}


/* Change color of dropdown links on hover */
.organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .organic-widgets-feature-list-select-dropdown container when the user clicks on the dropdown button) */
.organic-widgets-show {display:block;}
