.organic-widgets-feature-list-item-form-item {
  border: 1px solid #eee;
  background: #fafafa;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Dropdown Button */
.organic-widget-dropdown-button, .organic-widget-feature-move-button, .organic-widget-feature-delete-button {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  display:inline;
  float: left;
  padding: 12px;
  font-size: 14px;
  /*border: 1px solid rgba(0, 0, 0, .5);*/
  text-align: center;
}
.organic-widget-dropdown-button p, .organic-widget-feature-move-button p, .organic-widget-feature-delete-button p {
  margin-top: 0;
  margin-bottom: 0;
}
.organic-widget-dropdown-button {
  background-color: #0085ba;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50%;
}
.organic-widget-dropdown-button p{
  margin-left: 30px;
}
.organic-widget-dropdown-button.organic-widgets-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.organic-widget-feature-move-button {
  background-color: #ccc;
  width: 25%;
}
.organic-widget-feature-move-button:hover, .organic-widget-feature-move-button:focus {
  background-color: #999;
}
.organic-widget-feature-delete-button {
  width: 25%;
  background-color: #f24646;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.organic-widget-feature-delete-button:hover, .organic-widget-feature-delete-button:focus {
  background-color: #a00;
}
/* Dropdown button on hover & focus */
.organic-widget-dropdown-button:hover, .organic-widget-dropdown-button:focus {
    background-color: #005b7f;
}
.organic-widget-feature-icon-preview {
  width: 30px;
  float: left;
  box-sizing: border-box;
  color: #fff;
}
.organic-widget-feature-icon-preview i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 9px;
}
/* The container <div> - needed to position the dropdown content */
.organic-widgets-feature-list-select {
    position: relative;
    display: block;
    max-width:100%;
}

/* Dropdown Content (Hidden by Default) */
.organic-widgets-feature-list-select-dropdown {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  z-index: 1;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

.organic-widgets-feature-select-item {
  position: relative;
  display:inline;
  float: left;
  height: auto;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0;
  width: 20%;
  height:auto;
  text-align:center;
}
.organic-widgets-feature-select-item.organic-widgets-feature-active {
  background-color: #0085ba;
  color: #fff;
  font-weight: bold;
}
.organic-widgets-feature-select-item.organic-widgets-feature-active i, .organic-widgets-feature-select-item.organic-widgets-feature-active p {
  color: #fff;
  font-weight: bold;
}
.organic-widgets-feature-select-item-sizer {
    width: 100%;
    padding-bottom: 100%; /* 16:9 */
    position: relative;
    display: block;
}

/* Links inside the dropdown */
.organic-widgets-feature-select-item-content {
  display: inline;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  width: 100%;
  height: auto;
  color: #333;
  margin: auto;
  text-decoration: none;
  text-align: center;
}
.organic-widgets-feature-select-item-content i {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 20px;
}
.organic-widgets-feature-select-item-content p {
  font-size: 10px;
  line-height: 10px;
  margin: 6px auto 0;
}
.organic-widgets-feature-select-item:nth-child(5n){
  border-right: none;

}


/* Change color of dropdown links on hover */
.organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover {
  background-color: #005b7f;
}
.organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover i, .organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover p {
  color: #fff;
}

/* Show the dropdown menu (use JS to add this class to the .organic-widgets-feature-list-select-dropdown container when the user clicks on the dropdown button) */
.organic-widgets-show {display:block;}
