.organic-widgets-remove-image-button {
	background: #f24343 !important;
	color: #ffffff !important;
}
.organic-widgets-widget-image-preview {
	margin-top: 20px;
}
.organic-widgets-widget-image-preview img {
	width:100%;
	max-width:600px;
	height:auto;
}
