/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .organic-widgets-video-bg-wrapper {
   width: 100%;
   height: 100%;
 }
 .organic-widgets-remove-image-button {
 	background: #f24343 !important;
 }
 .organic-widgets-widget-image-preview {
 	margin-top: 20px;
 }
 .organic-widgets-widget-image-preview img {
 	width:100%;
 	max-width:600px;
 	height:auto;
 }
.organic-widgets-feature-list-select, .organic-widgets-feature-list-select option{
  font-family: 'FontAwesome', sans-serif;
}
