/**
 * Admin Specific CSS
 */

.organic-widgets-clear {
	clear: both;
	width: 100%;
	height: 0px;
}
.organic-widgets-video-bg-wrapper {
	width: 100%;
	height: 100%;
}
.organic-widgets-remove-image-button {
	background: #f24343 !important;
}
.organic-widgets-widget-image-preview {
	background: #eeeeee;
	margin-top: 12px;
}
.organic-widgets-widget-image-preview img {
	width: 100%;
	max-width: 600px;
	height: auto;
}
.widget-content .wp-picker-container {
	margin-top: 6px;
}
.organic-widgets-feature-list-select, .organic-widgets-feature-list-select option {
	font-family: 'FontAwesome', sans-serif;
}
.organic-widgets-groupable-indicator-gold {
	border-left: 4px solid #f4b942;
}
.organic-widgets-groupable-indicator-green {
	border-left: 4px solid #31d04b;
}
.organic-widgets-groupable-indicator-red {
	border-left: 4px solid #F24343;
}
.organic-widgets-groupable-indicator-blue {
	border-left: 4px solid #008EC2;
}
.organic-widgets-groupable-indicator-purple {
	border-left: 4px solid #c17aff;
}
.organic-widgets-remove-image-button.button, .organic-widgets-remove-image-button.button:hover {
	color: #fff;
}
.organic-widgets-input-half {
	float: left;
	width: 49%;
}
.organic-widgets-input-half.last {
	float: right;
}

/************************************************
*	Welcome Screen
************************************************/

.wrap.welcome-screen {
	margin: 0px 20px 0px 0px;
	padding: 0px;
}
.welcome-screen .intro {
	padding-bottom: 24px;
}
.welcome-screen .logo-wrap {
	display: block;
	overflow: hidden;
}
.welcome-screen .organic-themes-logo {
	float: left;
}
.welcome-screen .organic-themes-logo svg {
	display: block;
	max-width: 220px;
}
.welcome-screen .social-links {
	float: left;
	line-height: 0.8;
	margin-top: 20px;
	margin-left: 36px;
}
.welcome-screen .social-links > div {
	float: left;
	margin-left: 6px;
}
.welcome-screen h2.admin-headline {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 3.6em;
	line-height: 1.2;
	margin-top: 12px;
	margin-bottom: 0px;
}
.welcome-screen p.admin-tagline {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 300;
	font-size: 1.8em;
	margin-top: 12px;
	margin-bottom: 0px;
}
.welcome-screen .feature-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-sizing: border-box;
	margin-top: 24px;
}
.welcome-screen .feature-links h2 {
	width: 100%;
}
.welcome-screen .feature-links h4 {
	color: rgba(0, 0, 0, 0.7);
	margin: 0px 0px 4px 0px;
	padding: 0px;
}
.welcome-screen .feature-links p {
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
	padding: 0px;
}
.welcome-screen .feature-links a {
	display: flex;
	align-items: center;
	max-width: 25%;
	text-decoration: none;
	margin: 6px 0px;
	padding: 12px;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.08);
}
.welcome-screen .feature-links a:first-child {
	border-right: none;
	border-radius: 3px 0px 0px 3px;
}
.welcome-screen .feature-links a:nth-child(3) {
	border-left: none;
}
.welcome-screen .feature-links a:last-child {
	border-left: none;
	border-radius: 0px 3px 3px 0px;
}
.welcome-screen .feature-links a:hover {
	background: #ffffff;
	border-color: #ffffff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.welcome-screen .feature-links a.feature-link-upgrade {
	background: #7ba825;
}
.welcome-screen .feature-links a.feature-link-upgrade:hover {
	background: #ffffff;
}
.welcome-screen .feature-links a.feature-link-upgrade h4 {
	color: #ffffff;
}
.welcome-screen .feature-links a.feature-link-upgrade:hover h4 {
	color: #000000;
}
.welcome-screen .feature-links a.feature-link-upgrade p {
	color: rgba(255, 255, 255, 0.7);
}
.welcome-screen .feature-links a.feature-link-upgrade:hover p {
	color: rgba(0, 0, 0, 0.4);
}
.welcome-screen .feature-links a .icon {
	float: left;
}
.welcome-screen .feature-links a .icon svg {
	fill: rgba(0, 0, 0, 0.2);
	width: 32px;
	height: 32px;
	margin: 6px 18px 6px 6px;
}
.welcome-screen .theme-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.welcome-screen .purchase-button {
	background-color: #9ece42;
	color: #ffffff;
	font-size: 110%;
	font-weight: 600;
	text-decoration: none;
	padding: 12px 24px;
	border-radius: 3px;
}
.welcome-screen .purchase-button:hover {
	background: #7ba825;
}

/************************************************
*	Settings Screen
************************************************/

.organic-widgets-display-settings {
	display: block;
	margin-bottom: 24px;
	overflow: hidden;
}
.organic-widgets-display-settings .organic-widgets-display-toggle {
	float: left;
	min-width: 280px;
	margin: 6px 0px;
}

/************************************************
*	Newsletter Form
************************************************/

#mce-responses .response {
	margin-bottom: 12px;
	padding: 6px 12px;
	background-color: #ccffcc;
	border-radius: 3px;
}
#mce-responses #mce-error-response {
	background-color: #ffcccc;
}

/************************************************
*	Custom Post Editor
************************************************/

#organic-widgets-post-editor {
	width: 100%;
	margin: 2em 0 0;
}
.organic-widgets-post-editor-content {
	padding: 36px;
	text-align: center;
}
#organic-widgets-post-editor .organic-button-large {
	font-size: 1.6em;
	padding: .5em 1em;
	height: auto;
}
#organic-widgets-post-editor h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 24px;
	padding: 0px;
}
#organic-widgets-post-editor img {
	height: auto;
	width: 20px;
	display: inline-block;
	position: absolute;
}
#organic-widgets-post-editor h2 span {
	margin-left: 30px;
}

/************************************************
*	Gutenberg Editor
************************************************/

.gutenberg #organic-widgets-post-editor {
	margin-top: 0px;
	margin-bottom: 24px;
	border: none;
	box-shadow: none;
}
.gutenberg #organic-widgets-post-editor .organic-widgets-post-editor-content {
	width: 100%;
	max-width: 636px;
	margin: 0px auto;
	border: 1px solid rgba(0, 0, 0, 0);
}
.gutenberg #organic-widgets-post-editor .organic-widgets-post-editor-content:hover {
	border: 1px solid #e9e9e9;
}

/************************************************
*	Content Aligner
************************************************/

.organic-widget-fa-rotate-45 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.organic-widgets-content-alignment {
	display: block;
	margin: 1em auto 2em;
	overflow: hidden;
}
.organic-widgets-content-alignment-table {
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	max-width: 120px;
}
.organic-widgets-content-alignment-table td {
	position: relative;
	border: 1px solid #ddd;
	cursor: pointer;
	font-size: 1.8em;
	text-align: center;
	color: rgb(153,153,153);
	width: 33.33%;
	transition: background-color 0.3s ease, color 0.3s ease;
}
.organic-widgets-content-alignment-table td.organic-widgets-top-left {
	border-top-left-radius: 3px;
}
.organic-widgets-content-alignment-table td.organic-widgets-top-center i {
	top: 40%;
}
.organic-widgets-content-alignment-table td.organic-widgets-top-right {
	border-top-right-radius: 3px;
}
.organic-widgets-content-alignment-table td.organic-widgets-middle-left i {
	left: 40%;
}
.organic-widgets-content-alignment-table td.organic-widgets-middle-center i {
	font-size: .6em;
}
.organic-widgets-content-alignment-table td.organic-widgets-middle-right i {
	-webkit-transform: translate( 10%, -50%);
	-ms-transform: translate( 10%, -50%);
	transform: translate( 10%, -50%);
}
.organic-widgets-content-alignment-table td.organic-widgets-bottom-left {
	border-bottom-left-radius: 3px;
}
.organic-widgets-content-alignment-table td.organic-widgets-bottom-center i {
	-webkit-transform: translate(-50%,-40%);
	-ms-transform: translate(-50%,-40%);
	transform: translate(-50%,-40%);
}
.organic-widgets-content-alignment-table td.organic-widgets-bottom-right {
	border-bottom-right-radius: 3px;
}
.organic-widgets-content-alignment-table td:after {
	content: '';
	display: block;
	margin-top: 100%;
}
.organic-widgets-content-alignment-table td:hover, .organic-widgets-content-alignment-table td[data-selected="true"]:hover {
	background-color: #005b7f;
	color: #fff;
}
.organic-widgets-content-alignment-table td[data-selected="true"] {
	background-color: #0085ba;
	color: #fff;
}
.organic-widgets-content-alignment-table td i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 1em;
	line-height: 1em;
}
.organic-widgets-content-alignment-table td i.organic-widget-fa-rotate-45 {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	-moz-transform: translate(-50%,-50%) rotate(45deg);
	-ms-transform: translate(-50%,-50%) rotate(45deg);
	-o-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

/************************************************
*	Repeatable Form Items
************************************************/

.organic-widgets-feature-list-icon-preview-wrapper {
	display: inline-block;
	width: auto;
	height: auto;
	float: left;
}
.organic-widgets-feature-list-icon-preview-wrapper p {
	margin-bottom: 0;
}
.organic-widgets-feature-list-icon-preview {
	width: 70px;
	padding-right: 10px;
	height: 100px;
	display:block;
}
.organic-widgets-feature-list-icon-preview i {
	font-size: 50px;
	margin: 15px 10px 10px;
}
.organic-widgets-feature-list-icon-preview img {
	width: 100%;
	height: auto;
}
.organic-widgets-feature-list-text-fields-wrapper {
	display: inline-block;
	max-width: -webkit-calc(100% - 80px);
	max-width: -moz-calc(100% - 80px);
	max-width: calc(100% - 80px);
	width: auto;
	width: -webkit-calc(100% - 80px);
	width: -moz-calc(100% - 80px);
	width: calc(100% - 80px);
	float: left;
}
.organic-widgets-profile-form .organic-widgets-feature-list-text-fields-wrapper {
	width: 100%;
	max-width: 100%;
}
.organic-widgets-repeatable-form-item {
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	background: #fafafa;
	border-radius: 4px;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
.organic-widgets-repeatable-form-item-title-bar {
	background: #ccc;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	height: auto;
	padding: 8px;
	box-sizing: border-box;
}
.organic-widgets-repeatable-form-item-fields-wrapper {
	padding: 10px 10px 0;
}
/* Dropdown Button */
.organic-widgets-dropdown-button, .organic-widgets-repeatable-move-button, .organic-widgets-repeatable-delete-button {
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	color: white;
	display:inline;
	float: left;
	padding: 6px;
	font-size: 14px;
	text-align: center;
}
.organic-widgets-dropdown-button p, .organic-widgets-repeatable-move-button p, .organic-widgets-repeatable-delete-button p {
	margin-top: 0;
	margin-bottom: 0;
}
.organic-widgets-dropdown-button {
	background-color: #9ECE42;
	border-radius: 2px;
	border: 1px solid #87b62f;
	width: 100%;
}
.organic-widgets-dropdown-button p {
	margin-left: 18px;
}
.organic-widgets-show .organic-widgets-dropdown-button, .organic-widgets-show .organic-widgets-repeatable-delete-button {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.organic-widgets-repeatable-move-button {
	background-color: #ccc;
	width: 10%;
	padding: 0;
	display: inline;
	padding: 4px 0 5px;
}
.organic-widgets-repeatable-actions .organic-widgets-repeatable-move-button, .organic-widgets-repeatable-actions .organic-widgets-repeatable-delete-button {
	width: 33%;
}
.organic-widgets-repeatable-move-button i {
	font-size: 20px;
}
.organic-widgets-move-up, .organic-widgets-move-down {
	color: #666;
	border: 1px solid #bbb;
}
.organic-widgets-repeatable-actions .organic-widgets-move-up {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.organic-widgets-feature-list-select .organic-widgets-move-up  {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.organic-widgets-move-up:active, .organic-widgets-move-up:hover, .organic-widgets-move-down:active, .organic-widgets-move-down:hover {
	background-color: #999;
	color: #fff;
}
.organic-widgets-move-up {
	border-right: none;
}
.organic-widgets-repeatable-delete-button {
	width: 20%;
	background-color: #ccc;
	border: 1px solid #bbb;
	border-left: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 18px;
	color: #f24646;
	padding: 5px 0 6px;
	transition: background-color .5s ease, color .5s ease, border .5s ease;
}
.organic-widgets-repeatable-delete-button:hover, .organic-widgets-repeatable-delete-button:focus {
	background-color: #f24646;
	border: 1px solid #e53b3b;
	color: #fff;
}
/* Dropdown button on hover & focus */
.organic-widgets-dropdown-button:hover, .organic-widgets-dropdown-button:focus {
	background-color: #87b62f;
}
.organic-widgets-feature-list-select-icon {
	width: 30px;
	float: left;
	box-sizing: border-box;
	color: #fff;
}
.organic-widgets-feature-list-select-icon i {
	font-size: 28px;
	position: absolute;
	top: 4px;
	left: 9px;
}
/* The container <div> - needed to position the dropdown content */
.organic-widgets-feature-list-select {
	position: relative;
	display: block;
	max-width:100%;
}

/* Dropdown Content (Hidden by Default) */
.organic-widgets-feature-list-select-dropdown {
	display: none;
	position: relative;
	background-color: #f9f9f9;
	z-index: 1;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	width: 100%;
}

.organic-widgets-feature-select-item {
	position: relative;
	display:inline;
	float: left;
	height: auto;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	margin: 0;
	width: 20%;
	height:auto;
	text-align:center;
}
.organic-widgets-feature-select-item.organic-widgets-feature-active {
	background-color: #0085ba;
	color: #fff;
	font-weight: bold;
}
.organic-widgets-feature-select-item.organic-widgets-feature-active i, .organic-widgets-feature-select-item.organic-widgets-feature-active p {
	color: #fff;
	font-weight: bold;
}
.organic-widgets-feature-select-item-sizer {
		width: 100%;
		padding-bottom: 100%; /* 16:9 */
		position: relative;
		display: block;
}

/* Links inside the dropdown */
.organic-widgets-feature-select-item-content {
	display: inline;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	left:0;
	width: 100%;
	height: auto;
	color: #333;
	margin: auto;
	text-decoration: none;
	text-align: center;
}
.organic-widgets-feature-select-item-content i {
	margin: auto;
	display: block;
	text-align: center;
	font-size: 20px;
}
.organic-widgets-feature-select-item-content p {
	font-size: 10px;
	line-height: 10px;
	margin: 6px auto 0;
}
.organic-widgets-feature-select-item:nth-child(5n) {
	border-right: none;
}
/* Change color of dropdown links on hover */
.organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover {
	background-color: #005b7f;
}
.organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover i, .organic-widgets-feature-list-select-dropdown .organic-widgets-feature-select-item:hover p {
	color: #fff;
}
/* Show the dropdown menu (use JS to add this class to the .organic-widgets-feature-list-select-dropdown container when the user clicks on the dropdown button) */
.organic-widgets-show .organic-widgets-feature-list-select-dropdown {
	display:block;
}
.organic-widgets-repeatable-add-item {
	display: block;
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	background: #fafafa;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}
.organic-widgets-repeatable-add-item:hover, .organic-widgets-repeatable-add-item:focus {
	background: #999;
	color: #fff;
}
.organic-widgets-repeatable-add-item i {
	font-size: 30px;
	margin: auto;
}
.organic-widgets-repeatable-form-item-template {
	display: none;
}
#available-widgets [class*='organic_widgets_feature_list'] .widget-title::before {
	font-family: 'dashicons';
	content: '\f164';
}

/************************************************
*	Image Uploader
************************************************/

.organic-widgets-image-uploader {
	margin-bottom: 2em;
}
.organic-widgets-image-uploader .button {
	padding: 0 7px;
}

/************************************************
*	Content Slideshow Section
************************************************/

#available-widgets [class*='organic_widgets_content_slideshow_section'] .widget-title::before {
	font-family: 'dashicons';
	content: '\f128';
}

/************************************************
*	Featured Content Section
************************************************/

#available-widgets [class*='organic_widgets_featured_content'] .widget-title::before {
	font-family: 'dashicons';
	content: '\f464';
}

/************************************************
*	Hero Section
************************************************/

#available-widgets [class*='organic_widgets_hero'] .widget-title::before {
	font-family: 'FontAwesome';
	content: '\f091';
}

/************************************************
*	Featured Product Section
************************************************/

#available-widgets [class*='organic_widgets_featured_product'] .widget-title::before {
	font-family: 'FontAwesome';
	content: '\f1b2';
}

/************************************************
*	Portfolio Section
************************************************/

#available-widgets [class*='organic_widgets_portfolio_section'] .widget-title::before {
	font-family: 'dashicons';
	content: '\f161';
}

/************************************************
*	Pricing Table Section
************************************************/

#available-widgets [class*='organic_widgets_pricing_table'] .widget-title::before {
	font-family: 'FontAwesome';
	content: '\f02c';
}

/************************************************
*	Team Section
************************************************/

#available-widgets [class*='organic_widgets_team_section'] .widget-title::before {
	font-family: 'dashicons';
	content: '\f307';
}
